.header{

    background: rgba(255, 255, 255, 255);
    display: block;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-right: 50px;
    padding: 0 10px;
    transition: 0.4s;
}

#nav_header{
    overflow: hidden;
    background-color: #f1f1f1;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#nav_header #logo{
    height:70px;
    width:100px;
}

.dropdown{
    background: #fff;
    border: none;
    color: red;
    font-size: 14px;
    font-weight: 400;
    font-family: 'orbitron';
}

.show > .btn-primary.dropdown-toggle{
    color: #fff;
    background-color: none !important;
    border-color: none !important;
}
.dropdown:hover{
    background: #fff;
    color: red;
}

.head{
    margin-bottom: 0px;

}

.navList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-top: 15px;

}
.list_div{
    display: flex;
    justify-content: left;
    flex: auto;
    padding-top: 20px;
}
.navItem {
    color: #777777;
    font-size: 20px;
    margin-right: 1.3rem;
    text-decoration: none;
    padding-top: 5px;
    font-family: "EB Garamond", Garamond, "Times New Roman", serif;
    font-weight: 700;

}

.navItem:hover {
    color: #777777;
    text-decoration: none;
    
}

.active-navItem {
}

.searchbar{
    display: flex;
    margin-top: 8px;
}
.logobar{
    margin-top: -25px;
    margin-left: 25px;
    display: flex;
}

.dateTime{
    font-size: 12px;
    color: red;
    font-family:'orbitron';
}

.scrollTop{
    background: none;
    color: #55b44c;
    font-size: 40px;
    position: fixed;
    top: 87%;
    left: 90%;
    z-index: 1;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 13px 23px 0px #867272;
}

.scrollTop:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.header_button__design{
    border: none;
    border-radius: 4px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    background: #fff;
    font-family: "EB Garamond", Garamond, "Times New Roman", serif;
    font-weight: 700;
}

.header_button__design:hover{
    transform: scale(1.2);
    transition-duration: .4s;
}